@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

img {
  width: 100%;
}

.no-gutters {
  padding: 0;
  margin: 0;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/Banner.png);
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  margin: 0 -15px -15px;
  padding: 0 15px 15px;
}

.booking-button {
  background: #9ebe53;
  border-radius: 100px;
  border: transparent;
  color: #fff;
  padding: 6px 15px;
  margin-top: 3px;
}

.caption {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.caption h1 {
  font-size: 85px;
}

.caption p {
  font-size: 25px;
}

.motto {
  background-color: #ebe772;
  color: #1b1947;
}

.motto p {
  font-size: 42px;
  font-weight: bold;
  line-height: 3rem;
  padding: 50px 30px 0;
}

.footer-section {
  background-color: #1b1947;
  text-align: center;
}

.footer-section > .col {
  height: 100%;
}

.footer-items {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-item {
  padding: 20px 10px;
}

.footer-item a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 575px) {
  .caption h1 {
    font-size: 40px;
  }

  .caption p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .caption h1 {
    font-size: 55px;
  }

  .caption p {
    font-size: 20px;
  }

  .motto p {
    padding: 44px;
    font-size: 40px;
    line-height: 3rem;
  }

  .footer-section {
    font-size: 16px;
  }

  .footer-items {
    display: block;
  }

  .footer-item {
    padding: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .footer-section {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-section {
    height: 10vh;
  }
}

/*

.fluid-container {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
}

.home-inner {
  background-image:
    url(./images/Banner.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}





.navbar-nav .nav-item {
  padding: 16px;
}

.booking-button {


}

.motto {
  background-color: #ebe772;
  color: #1b1947;
  position: relative;
}

.motto p {
  font-size: 42px;
  font-weight: bold;
  line-height: 3rem;
}
.woman img {
  width: 100%;
  object-fit: cover;
}

.footer-sec {
  background-color: #1b1947;
  text-align: center;
}

.footer-items {
  display: inline-flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.footer-item a {
  text-decoration: none;
  color: #fff;
}

.footer-item {
  padding: 25px 15px;
} */
